<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-x5-webview2" version="1.0.0">

    <name>cordova-plugin-x5-webview2</name>
    <description>Changes the default WebView to Tencent X5(TBS)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,chromium,x5,webview,tbs,cordova-android</keywords>
    <repo>https://github.com/coloz/cordova-plugin-x5-webview2.git</repo>

    <engines>
        <engine name="cordova-android" version=">=7.0.0"/>
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.jeremyup.cordova.x5engine.X5WebViewEngine" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5CookieManager.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5CordovaClientCertRequest.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5CordovaHttpAuthHandler.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5ExposedJsApi.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5WebChromeClient.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5WebView.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5WebViewClient.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>
        <source-file src="platforms/android/src/org/jeremyup/cordova/x5engine/X5WebViewEngine.java" target-dir="app/src/main/java/org/jeremyup/cordova/x5engine"/>

        <lib-file src="platforms/android/libs/tbs_sdk_thirdapp_v3.6.0.jar" />
        <lib-file src="platforms/android/libs/armeabi/liblbs.so" />
    </platform>
</plugin>
